[Unit]
Description=Jetty server for dienstplan app
After={{ systemd_migrate_name }}
Requires={{ systemd_migrate_name }}

[Service]
WorkingDirectory={{ app_directory }}
EnvironmentFile={{ systemd_service_env }}
ExecStart=/bin/java -jar {{ app_file }} --mode server
User={{ app_username }}
Group={{ app_usergroup }}
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
