APP__VERSION={{ app_version }}
APP__ENV={{ app_env }}
APP__DEBUG={{ app_debug }}
SLACK__TOKEN={{ slack_token }}
ALERTS__SENTRY_DSN={{ sentry_dsn }}
SERVER__LOGLEVEL={{ app_loglevel }}
DB__USER={{ db_user  }}
DB__PASSWORD={{ db_password }}
