APP__VERSION={{ app_version }}
APP__ENV={{ env_app_env }}
APP__DEBUG={{ env_app_debug }}
SERVER__LOGLEVEL={{ env_server_loglevel }}
SLACK__TOKEN={{ env_slack_token }}
ALERTS__SENTRY_DSN={{ env_alerts_sentry_dsn }}
DB__USER={{ env_db_user }}
DB__PASSWORD={{ env_db_password }}
